
<section class="grid grid-4col">
  <button type="button" class="toggle-edit grid-span-4">Mode édition</button>
  <div class="header-fields grid-span-1">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  </div>
  <div class="header-fields grid-span-3">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    </h1>
    <div class="resource-content grid grid-4col">
        <div class="grid-span-3">
            <label for="system.boss" class="resource-label">{{localize (concat 'INS_MV.boss')}}</label>
            <input name="system.boss" type="text" value="{{system.boss}}" placeholder="Boss"/>
        </div>
        <div class="grid-span-1">
            <label for="system.rank" class="resource-label align-right">{{localize (concat 'INS_MV.rank')}}</label>
            <input name="system.rank" type="text" value="{{system.rank}}" placeholder="0" data-dtype="Number"/>
        </div>
        <div class="grid-span-2 grid grid-5col">
            <label for="system.health" class="resource-label grid-span-3">Fatigue</label>
            <input class="grid-span-1" name="system.health.value" type="text" value="{{system.health.value}}" placeholder="Boss"/>
            {{editOrView 
                (lookup @root.options "edition") 
                "system.health.max"
                system.health.max
                class="grid-span-1"}}
        </div>
        <div class="grid-span-2 grid grid-5col">
            <label for="system.power" class="resource-label grid-span-3">Pouvoir</label>
            <input class="grid-span-1" name="system.power.value" type="text" value="{{system.power.value}}" placeholder="Boss"/>
            {{editOrView 
                (lookup @root.options "edition") 
                "system.power.max"
                system.power.max
                class="grid-span-1"}}
        </div>
    </div>
  </div>

  <div class="power-info grid-span-4">
    <h2>Pouvoirs de grade</h2>
    {{editOrView 
        (lookup @root.options "edition") 
         "system.rankPowers"
        system.rankPowers
        class="x"}}
  </div>
  <div class="title-info grid-span-4">
    <h2>Titres</h2>
    {{editOrView 
        (lookup @root.options "edition") 
         "system.titles"
        system.titles
        class="x"}}
  </div>
</section>

