<ol class='items-list'>
  {{#each powers as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            
            <a class='rollable' data-roll-type='power' data-roll='i:{{item.name}}'>
            <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>

          </div>
          {{log "item" item}}
          <h4>{{item.name}} ({{localize "INS_MV.Powers.Level"}}: {{item.system.level}})</h4>
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "INS_MV.Powers.Edit"}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "INS_MV.Powers.Delete"}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
  {{/each}}
</ol>