<p><strong>{{actorName}} fait un test de {{testedAttribute}}</strong></p>
<p title="seuil: {{threshold}}"><strong>Résultat :</strong> {{rollResult}}</p>
{{#if success}}
  <span style="color: green;" title="{{concatTitle successMarginParts}}">
    Succès ! Avec une marge de {{successMargin}}
  </span>
{{else}}
  <span style="color: red;" title="{{concatTitle failMarginParts}}">
    Échec ! Avec une marge de {{failMargin}}
  </span>
{{/if}}