<p><strong>{{actorName}} {{localize "INS_MV.Dice.RollTest"}} {{#if (isAbility testedAttribute)}}{{localize (concat "INS_MV.Ability." testedAttribute ".long")}}{{else}}{{localizeWithDefault (concat "INS_MV.Talents." testedAttribute ) testedAttribute}}{{/if}}</strong></p>
<img src="{{picture}}"/>